AMBIENT_API_KEY=replace-with-your-api-key
AMBIENT_APPLICATION_KEY=replace-with-your-application-key
AMBIENT_MAC_ADDRESS=
WEATHER_STATION_NAME=
WEATHER_STATION_LOCATION=
AMBIENT_REQUEST_TIMEOUT_MS=15000
AMBIENT_RATE_LIMIT_COOLDOWN_MS=900000
AMBIENT_DEVICE_CACHE_MS=3600000
WEATHER_LIMIT=48
WEATHER_PORT=8787
WEATHER_CACHE_MS=300000
